.main-t{
    color:black;
    text-align:
    center;
}
.a-text{
    color:rgb(71, 2, 2)
}
#mainImage{
    height: 400px;
}
#manga-id{
    height: 450px;
    width: auto;
}
#header-main{
    background-color: rgb(221, 42, 78);
}
#body-main{
    background-color:rgb(207, 63, 63)
}
p{
    color: black;
}