.image-main{height: 400px;}
.title-h{color:whitesmoke; text-align: center;}
.text{color:antiquewhite; text-align: center;}
#maintr{background-color: black;}
#head-main{background-color: rgba(3, 3, 3, 0.925);}
#main-main{background-color: #1f000e;}
#foot-main{background-color: rgb(16, 6, 24);}
#bod{background-color: darkred;}