.image-main{height: 400px;}
.title-h{color:whitesmoke; text-align: center;}
.text{color:antiquewhite; text-align: center;}
#maintr{background-color: rgb(3, 0, 0);}
#head-main{background-color: black;}
#main-main{background-color: black}
#foot-main{background-color: black;}
#bod{background-color: black;}